<div id="common-nav-yd">
    <div class="head-nav">
        <div class="head-nav-lt visible-lg visible-md">
            <i>
                <img class="h-center" src="../../images/com.common.nav/my_head.png" alt="图片加载失败">
            </i>
            <span>代码-如风</span>
        </div>
        <div class="head-nav-lt-s visible-sm visible-xs">
            <i>
                <img class="h-center" src="../../images/com.common.nav/my_head.png" alt="图片加载失败">
            </i>
            <span>代码-如风</span>
        </div>
        <div class="head-nav-rt visible-lg visible-md">

        </div>
        <div class="head-nav-rt visible-sm visible-xs">

        </div>
    </div>
    <div class="main-nav">
        <div id="my_nav">
            <div class="section page1">
                <div class="slide"></div>
                <div class="slide"></div>
                <div class="slide"></div>
                <div class="slide"></div>

            </div>
            <div class="section">

            </div>
            <div class="section">

            </div>
            <div class="section">

            </div>
        </div>
    </div>

</div>
